!!! 5
%html(lang='en')
  %head
    %meta(http-equiv='content-type' content='text/html;charset=utf-8')/
    %title &lt;canvas&gt; pong &ndash; development version
  %body
    %canvas(id='pong-canvas' width='800' height='400')
      Your browser is retarded.

    %script(src='jquery.min.js' type='text/javascript')
    %script(src='0-init.js' type='text/javascript')
    %script(src='1-border.js' type='text/javascript')
    %script(src='1-controlsscreen.js' type='text/javascript')
    %script(src='1-keys.js' type='text/javascript')
    %script(src='1-racket.js' type='text/javascript')
    %script(src='1-shuttlecock.js' type='text/javascript')
    %script(src='1-transition.js' type='text/javascript')
    %script(src='2-pause.js' type='text/javascript')
    %script(src='3-play.js' type='text/javascript')
    :javascript
      $(function () {
        pong.play($('#pong-canvas')[0]);
      });
