!!! 5
%html(lang='en')
  %head
    %meta(http-equiv='content-type' content='text/html;charset=utf-8')/
    %title &lt;canvas&gt; pong
    %link(rel='stylesheet' href='style.css' type='text/css')
  %body
    :javascript
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8752416-2']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();

    <a href="https://github.com/narfdotpl/canvas-pong"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

    #content
      .row
        .col
          %canvas(id='pong-canvas' width='800' height='400')
            Your browser is retarded.
      .row
        .col#foot-left
          &lt;canvas&gt; pong by
          %a(href='http://narf.pl/') Maciej Konieczny
        .col#foot-middle &middot;
        .col#foot-right
          original game by
          %a(href='http://en.wikipedia.org/wiki/Allan_Alcorn') Allan Alcorn
        .col#foot-music
          %a(href='#' target='_newtab' class='off' title='play music') ♫

    %script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js' type='text/javascript')
    %script(src='pong.js' type='text/javascript')
    :javascript
      $(function () {
        // play game
        pong.play($('#pong-canvas')[0]);

        // pick random song
        var $musicLink = $('#foot-music a');
        function pickRandomSong()  {
          var songs = ['AA9maAERDAs', '0J2QdDbelmY', 'Lq9m2QT0R6M'],
              song = songs[Math.floor(Math.random() * songs.length)];
          $musicLink.attr('href', 'http://www.youtube.com/v/' + song +
                                  '?autoplay=1&loop=1');
        }
        pickRandomSong();

        // remove "off" class after turning music on
        $musicLink.one('click', function () {
          $musicLink.removeClass('off');
        }).click(function () {
          // pick next random song in just a moment
          setTimeout(pickRandomSong, 100);
        });
      });
